<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
             http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">

    <display-name>Plataforma de Sugestões de Filmes</display-name>

    <!-- Página inicial -->
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>

    <!-- FilmeController -->
    <servlet>
        <servlet-name>FilmeController</servlet-name>
        <servlet-class>controller.FilmeController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>FilmeController</servlet-name>
        <url-pattern>/filmes</url-pattern>
    </servlet-mapping>

    <!-- AvaliacaoController -->
    <servlet>
        <servlet-name>AvaliacaoController</servlet-name>
        <servlet-class>controller.AvaliacaoController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AvaliacaoController</servlet-name>
        <url-pattern>/avaliar</url-pattern>
    </servlet-mapping>

</web-app>
